.page-enter-active, .page-leave-active {
    transition: all .2s ease-in-out;
}
.page-enter, .page-leave-to {
    transform: translateX(-25px);
    opacity: 0;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
