@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Thasadith:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

h1, h2, h3, h4, h5 {
    font-family: $a;
    font-weight: bold;
}

a {
    font-family: $font;
}

p {
    font-family: $font;
    font-size: 16px;
    line-height: 22px;
}

h1 {
    font-size: 52px;
    line-height: 58px;

    @include device(pad) {
        font-size: 72px;
        line-height: 78px;
    }
}

h2 {
    font-size: 42px;
    line-height: 48px;

    @include device(pad) {
        font-size: 62px;
        line-height: 68px;
    }
}

h3 {
    font-size: 32px;
    line-height: 38px;

    @include device(pad) {
        font-size: 52px;
        line-height: 58px;
    }
}
h4 {
    @include device(pad) {
        font-size: 24px;
    }
}
h5 {
    @include device(pad) {
        font-size: 20px;
    }
}
