$fontText: 'Urbanist', sans-serif;

$border: (
    'color': #e6e6e6,
    'radius': 1px
);

$sectionWidth: (
    'standard': 900px,
    'small': 700px,
    'medium': 900px,
    'large': 1100px,
);

$spacing: (
    'mobile': 4px,
    'tablet': 4px,
    'desktop': 5px
);

$breakpoints: (
    'tablet': 600px,
    'desktop': 900px
);
