.btn {
    transition: .15s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .15s ease-in-out;

    // Types
    &-round {
        border-radius: 25px;
    }
    &-tooltip {
        position: absolute;
        margin-top: -10px;
    }

    // Sizing(padding, width)
    &-50 {
        width: 50px; height: 50px;
    }
    &-fw {
        width: 160px;
    }
    &-300 {
        width: 300px;
    }
    &-stretch {
        width: 100%;
    }
    &-w80 {
        width: 80%;
    }
    &-s {
        padding: 10px 40px;
    }
    &-m {
        padding: 20px 40px;
    }
    &-pad-10 {
        padding: 10px;
    }
    &-pad-20 {
        padding: 20px;
    }
    &-mt40 {
        margin-top: 40px;
    }

    // Colors
    &-cta {
        background: #ffd633;
        &:hover {
            background: #e6b800;
        }
    }
    &-green {
        background: $main;
        color: #fff!important;
        &:hover {
            background: #084532;
        }
    }
}
