.page-enter-active, .page-leave-active {
    transition: all .2s ease-in-out;
}
.page-enter, .page-leave-to {
    transform: translateX(-25px);
    opacity: 0;
}

.slide-left-enter-active {
    transition: all .3s ease-in-out;
}
.slide-left-leave-active {
    transition: all .3s ease-in-out;
}
.slide-left-enter, .slide-left-leave-to {
    transform: translateX(50px);
    opacity: 0;
}
.slide-right-enter-active {
    transition: all .2s ease-in-out;
}
.slide-right-leave-active {
    transition: all .2s ease-in-out;
}
.slide-right-enter, .slide-right-leave-to {
    transform: translateX(-50px);
    opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.chat-enter-active {
  animation: chat .15s ease-in-out;
}
.chat-leave-active {
  animation: chatLeave .15s;
}
@keyframes chat {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    33% {
        opacity: 0.3;
        transform: translateX(25px);
    }
    66% {
        opacity: 0.6;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes chatLeave {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

.pop-enter-active {
  animation: pop .3s ease-in-out;
  // animation-fill-mode: forwards;
}
.pop-leave-active {
  animation: pop .3s reverse;
  // animation-fill-mode: forwards;
}
@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    33% {
        opacity: 0.3;
        transform: scale(1);
    }
    66% {
        opacity: 0.6;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


// Directives
@media screen and (min-width: $pad) {
    .before-popIn {
        opacity: 0;
        transform: scale(0.9);
    }
    .popIn {
        opacity: 1;
        transition: .15s ease-in;
        transform: scale(1);
    }
    .before-slideRight {
        opacity: 0;
        transform: translateX(50px);
    }
    .slideRight {
        opacity: 1;
        transition: .3s ease-in;
        transform: translateX(0px);
    }
    .before-slideLeft {
        opacity: 0;
        transform: translateX(-50px);
    }
    .slideLeft {
        opacity: 1;
        transition: .3s ease-in;
        transform: translateX(0px);
    }
    .before-enter {
        opacity: 0;
    }
    .enter {
        transition: opacity 2s ease;
    }
}
