@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Kalam:wght@400;700&family=Urbanist:wght@100;200;300;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

h1 {
    font-family: 'Sofadi One', cursive;
}

h2, h3, h4, h5 {
    font-family: $fontText;
    font-family: 'Sofadi One', cursive;
    font-family: $fontText;
    font-weight: 300;
}

a {
    font-family: $fontText;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    font-family: $fontText;
}

h1 {
    font-weight: bold;
    @include font-size(32px, 10px);

    @include device(pad) {
        @include font-size(52px, 14px);
    }
}

h2 {
    @include font-size(26px, 10px);
    font-weight: bold;

    @include device(pad) {
        @include font-size(28px, 10px);
    }

    @include device(desktop) {
        @include font-size(32px, 10px);
    }
}

h3 {
    font-family: $fontText;

    @include device(pad) {
        @include font-size(26px, 10px);
    }
}
