@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap");

h1 {
    font-family: $fontHeader;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    @include font-size(32px, 10px);

    @include device(pad) {
        @include font-size(62px, 14px);
    }
}

h2,
h3,
h4,
h5 {
    font-family: $fontText;
    font-weight: 300;
}

a {
    font-family: $fontText;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    font-family: $fontText;
}

h2 {
    @include font-size(26px, 10px);
    font-weight: bold;

    @include device(pad) {
        @include font-size(28px, 10px);
    }

    @include device(desktop) {
        @include font-size(32px, 10px);
    }
}

h3 {
    font-family: $fontText;

    @include device(pad) {
        @include font-size(26px, 10px);
    }
}
