$mobile_size: 900px;
$desktop: 900px;
$pad: 600px;


// All default values are set to 20px
$section_padding: 20px;
$padding: 20px;
$margin: 20px;

$fullwidth: 100%;


// Transitions
$elementhover: .15s ease-in-out;
