// Colors
$white: #fff;
$font: #333;
$main: #ff9933;
$mainDark: #e67300;
// $off: #8c1aff;
// $purple: #a64dff;
// $lpurple: #f2e6ff;
// $slpurple: #F8F2FF;
// $purpleHover: #7300e6;
// $slpurple: #FBF8FF;
// $offDark: #0e5f07;
$black: #000;
$e6: #e6e6e6;
$cream: #FFE6B6;
$lcream: #FFF7D9;
$slcream: #FFFDF5;
$font: #333;
$blue: #509bf5;
$lightblue: #f3f8fe;
$darkblue: #0d69d9;
$red: #f7274a;
$green: #3dbf1f;
$white: #fff;
// $purple: #a64dff;
// $darkpurple: #7300e6;
$gray: #777;
$lightgray: #f2f2f2;
$yellow: yellow;


// Shadows
$bxs: 0 4px 20px 0 rgba(0,0,0,.12);
$btnShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
